
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "gilroy";
  src: url("/gilroy/gilroy-bold.ttf");
  font-weight: 700;}

  @font-face {
      font-family: "gilroy";
      src: url("/gilroy/gilroy-semibold.ttf");
      font-weight: 600;}

@font-face {
  font-family: "gilroy";
  src: url("/gilroy/gilroy-regular.ttf");
  font-weight: 400;}

@font-face {
  font-family: "gilroy";
  src: url("/gilroy/gilroy-medium.ttf");
  font-weight: 500;}

@font-face {
  font-family: "gilroy";
  src: url("/gilroy/gilroy-light.ttf");
  font-weight: 300;}

  